 <!-- Draft card -->
 <app-draft-order [order]="draftOrder" [onView]="onView" [onDelete]="onDelete" *ngIf="draft"></app-draft-order>

 <!-- Progress card -->
 <app-in-progress-order [order]="inProgressOrder" [onView]="onView" *ngIf="inProgress"></app-in-progress-order>


 <!-- Ship card -->
 <app-ship-order [order]="shipOrder" [onView]="onView" *ngIf="ship"></app-ship-order>


<!-- Delivery card -->
<app-delivery-order [order]="deliveryOrder" [onView]="onView" *ngIf="delivery"></app-delivery-order>
